{% extends 'base.html' %}
{% block content %}
			<div class="container-fluid">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Предмет</th>
							<th scope="col">Преподаватель</th>
							<th scope="col">Аудитория</th>
							<th scope="col">Дата / Время</th>
						</tr>
					</thead>
					<tbody>
					{% for exam in exam_list %}
						<tr>
							<td>{{ exam.subject.subject.name }}</td>
							<td>{{ exam.subject.subject.teacher.last_name }} {{exam.subject.subject.teacher.first_name}}
								{{ subject.subject.teacher.patronymic }}</td>
							<td>{{ exam.lecture_hall }}</td>
							<td>{{exam.exam_datetime}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
{% endblock %}