{% extends 'base.html' %}
{% block content %}
			<div class="container-fluid">
				<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div for="t_number">
						Номер телефона:  {{form.t_number.errors}}</div>
                    <input id="t_number" type="text" name="t_number" value="{{ t_number }}" >
                    <div for="email">Email:  {{form.email.errors}}</div>
                    <input id="email" type="email" name="email" value="{{ email }}" >
                    <div for="photo">Фото:  {{form.t_number.errors}}</div>
                    <input id="photo" type="file" name="photo" value="{{ photo }}" >
                    <div>
                        <input type="submit" value="Подтвердить" />
                    </div>
                </form>
			</div>
{% endblock %}

