{% extends 'base.html' %}
{% block content %}
			<div class="container-fluid">
				<h3>График успеваемости</h3>
				{% load googlecharts %}
				<div id="out">
					{% googlecharts %}
						{% data values "out_data" %}
							{% col "string" "Семестр" %}"{{ val }}"{% endcol %}
							{% col "number" "Балл" %}{{ val }}{% endcol %}
						{% enddata %}
						{% options "out_options" %}
							kind: "LineChart",
							options: {
								width: 700,
								height: 500
							}
						{% endoptions %}
						{% graph "out" "out_data" "out_options" %}
					{% endgooglecharts %}
					</div>
			</div>
{% endblock %}