{% extends 'base.html' %}
{% block content %}
	<div class="container-fluid" id="schedule">
		{% for days in day_list %}
			{% for day, data in days.items %}
				<div>
					<h4>{{day}}</h4>
					<table class="table table-striped">
						<tbody>
							{% for num, schedule in data.items %}
							<tr>
								<td>{{num}}</td>
								<td>
									{{schedule.subject_num}}
								</td>
								<td>
									{{schedule.subject_denom}}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}