{% extends 'base.html' %}
{% block content %}
				<div class="container-fluid">
					<h2> {{subject.name}} </h2>
					<div class="row">
						<div class="col-sm-3">
							<h4>Лабораторные работы</h4>
							<ul class="list-group">
							{% for lab in labs %}
							<li class="list-group-item">
								<a href="#lab{{ lab.pk }}" data-toggle="collapse">{{ lab.name }}</a>
								<div id="lab{{ lab.pk }}" class="collapse">
									<p><a href="{{lab.lab_url}}">{{ lab.lab_url }}</a></p>
									<p>{{ lab.description }}</p>
								</div>
							</li>
							{% endfor %}
							</ul>
						</div>
						<div class="col-sm-3">
							<h4>Лекции</h4>
							<ul class="list-group">
							{% for lecture in lectures %}
							<li class="list-group-item">
								<a href="#lec{{ lecture.pk }}" data-toggle="collapse">{{ lecture.name }}</a>
								<div id="lec{{ lecture.pk }}" class="collapse">
									<p><a href="{{lecture.lecture_utl}}">{{ lecture.lecture_url }}</a></p>
									<p>{{ lecture.description }}</p>
								</div>
							</li>
							{% endfor %}
							</ul>
						</div>
						<div class="col-sm-3">
							<h4>Воспомогательная Литература</h4>
							<ul class="list-group">
							{% for literature in literature_list %}
							<li class="list-group-item">
								<a href="#lit{{ literature.pk }}" data-toggle="collapse">{{ literature.literature }}</a>
								<div id="lit{{ literature.pk }}" class="collapse">
									<p>{{ literature.description }}</p>
								</div>
							</li>
							{% endfor %}
							</ul>
						</div>
						<div class="col-sm-3">
							<h4>Другие материалы</h4>
							<ul class="list-group">
							{% for material in materials %}
							<li class="list-group-item">
								<a href="#mat{{ material.pk }}" data-toggle="collapse">{{ material.additional_material }}</a>
								<div id="mat{{ material.pk }}" class="collapse">
									<p>{{ material.description }}</p>
								</div>
							</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
					{% endblock %}
