{% extends 'base.html' %}
{% block content %}
			<div class="container-fluid">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Предмет</th>
							<th scope="col">Преподаватель</th>
							<th scope="col">Семестр начала</th>
							<th scope="col">Сесестр окончания</th>
							<th scope="col">Количество часов</th>
							<th scope="col">Итоговый бал</th>
						</tr>
					</thead>
					<tbody>
					{% for subject, marks in subjects_with_mark.items %}
						<tr>
							<td><a href="{% url 'subject_marks' subject_pk=subject.pk %}">{{ subject.subject.name }}</a></td>
							<td>{{ subject.subject.teacher.last_name }} {{subject.subject.teacher.first_name}}
								{{subject.subject.teacher.patronymic}}</td>
							<td>{{ subject.start_semester }}</td>
							<td>{{ subject.semester_quantity }}</td>
							<td>{{subject.hours_count}}</td>
							{% if marks %}
							<td>{{ marks }}</td>
							{% else %}
							<td> </td>
							{% endif %}
							<td><a href="{% url 'subject_material' subject_pk=subject.subject.pk %}"> <h6>Материалы</h6></a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
{% endblock %}