{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			{% for teacher in teachers %}
			<div class="col-sm-4">
				<div class="teacher_card">
				<div class="container-fluid">
					{% if teacher.photo %}
					<img src="{{ teacher.photo.url }}" class="img-thumbnail"/>
					{% elif not teacher.photo %}
					<img src="{% static 'user.png' %}" class="img-thumbnail"/>
					{% endif %}
				</div>
					<div class="teacher_info">
					<h4>{{ teacher.first_name }} {{teacher.last_name}} {{teacher.patronymic}}</h4>
					<h4><small>
						<p>{{teacher.position}}</p>
						<p>{{teacher.t_number}}</p>
						<p>{{teacher.email}}</p>
						{% if teacher.about %}
						<p>О себе:</p>
						<p>{{teacher.about}}</p>
						{% endif %}
					</small></h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
