{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			{% for teacher in teachers %}
			<div class="col-sm-4">
				<div class="teacher_card">
				<div class="container-fluid">
					{% if teacher.photo %}
					<img src="{{ teacher.photo.url }}" class="img-thumbnail"/>
					{% elif not teacher.photo %}
					<img src="{% static 'user.png' %}" class="img-thumbnail"/>
					{% endif %}
				</div>
					<h4>{{teacher.last_name}} {{ teacher.first_name }} {{teacher.patronymic}}</h4>
					<div class="teacher_info">
					<h4><small>
						<p>Должность: {{teacher.position}}</p>
						<p>Другие должности: {{teacher.other_position}}</p>
						<p>Ученое звание: {{teacher.academic_rank}}</p>
						<p>Ученая степень: {{teacher.academic_degree}}</p>
						<p>Номер телефона: {{teacher.t_number}}</p>
						<p>Почта: {{teacher.email}}</p>
						<p>Найти можно в: {{teacher.room}}</p>
					</small></h4>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
