{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        {% for message in messages %}
        <div class="col-sm-5 message">
            <div class="sender">
                {{ message.teacher.name_initials_string }}
            </div>
            <div class="text">
                {{ message.message }}
            </div>
            <div class="published_date">
                {{ message.date }}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
