<!doctype html>

<html lang="en">

  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" type="text/css">

    <style>

      .map {

        height: 100%;

        width: 100%;

      }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" type="text/javascript"></script>

    <title>EOS DA Landsat API Quickstart</title>

    </head>

  <body>

    <h2>EOS DA Landsat API Quickstart</h2>

    <div id="map" class="map"></div>

    <script type="text/javascript">

        var map = new ol.Map({

          target: 'map',

          layers: [new ol.layer.Tile({

            source: new ol.source.XYZ({

              url: 'http://{a-d}-rendertesting.eosda.com/tile/7d8529c2a9c506f72378f1b913fb701e/Red,Green,Blue/{z}/{x}/{y}'

            })

          })],

          view: new ol.View({

            center: ol.proj.fromLonLat([-120.98754462496339, 36.0390194653991]),

            zoom: 10,

            maxZoom: 15,

            minZoom: 7

          })

        });

    </script>

  </body>

</html>