#header {
	background: #4CAF50;
	margin-bottom: 0;
	color: black; 
}

#header a {
    background-color: #4CAF50;
    color: white; 
    display: block;
    padding: 12px;
    text-decoration: none;
}
#header a:hover {
	background: #367c39;
}


.content {
	height: 100%;
	border-left-color: #333;
    border-left-style: solid;
}

#info {
	text-align: center;
	color: black;
}

#info img {
	width: 50%
}

.vertical-menu {
    width: 100%; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.table {
	padding: 2px;
}

#schedule{
	text-align: center;
}

#schedule table {
    padding:10px
}
.message{
    margin:1%;
    padding: 2%;
    border: 1px solid #BDBDBD;
}
.sender{
    font-size: 1.7em;
    color:#585858;
    padding-left: 5%;
    border-bottom: 2px solid #BDBDBD;
}
.text{
    font-size: 1.5em;
    color: #151515;
}
.published_date{
    border-top: 2px solid #BDBDBD;
    font-size: 1em;
    color: #DF0101;
    padding-left: 80%;
}

.teacher_card{
    text-align: center;
    margin-top:1%;
    border: 1px solid #4CAF50;
}

#stipend td{
    background: #4CAF50;
    color: white;
}
